<div class="row">
    {{#each this}}
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <table class="table table-striped">
            <tbody>
                <tr class="header-row drafted-team-name" data-id="{{teamID}}">
                    <th colspan="5">
                        {{teamName}} {{#if allowedTransfers}}<i class="fas fa-exchange-alt icon-transfer" title="Transfers allowed"></i>{{/if}}
                    </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                {{#each teamPlayers}}
                <tr class="player-total-data {{playerStatus}}" data-player-price="{{playerPrice}}" data-player-id="{{playerId}}" {{#if transfers}}data-transfer="{{#each transfers}}{{transferWeek}}|{{transferId}}{{#if @last}}{{else}},{{/if}}{{/each}}"{{/if}}>
                    <td class="id" data-original-id="{{playerId}}">{{playerId}}</td>
                    <td class="position" data-original-position="{{playerPosition}}">{{playerPosition}}</td>
                    <td class="club" data-original-team="{{playerTeamShort}}">{{playerTeamShort}}</td>
                    <td class="player" data-original-name="{{playerName}}">{{playerName}}</td>
                    <td class="points">0</td>
                </tr>
                {{/each}}
                <tr class="total-points-row">
                    <td colspan="3"></td>
                    <th>Total</th>
                    <td class="total-points">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/each}}
</div>