<div class="row">
    {{#each this}}
    <div class="col-xs-12 col-md-3">
        <table>
            <tbody>
                <tr>
                    <th colspan="5">{{teamName}}</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                {{#each teamPlayers}}
                <tr class="player-total-data">
                    <td class="id">{{playerId}}</td>
                    <td class="position">{{playerPosition}}</td>
                    <td class="club">{{playerTeamShort}}</td>
                    <td class="player">{{playerName}}</td>
                    <td class="points">0</td>
                </tr>
                {{/each}}
                <tr class="total-points-row">
                    <td colspan="3"></td>
                    <th>Total</th>
                    <td class="total-points">0</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/each}}
</div>