<div class="row">
    <div class="col-12 py-3">
        <h3>Select a week to populate</h3>
        <div class="row">
            <div class="form-group col-12 col-md-6 col-lg-4">
                <select class="form-control week-dropdown mb-3">
                    {{#repeat count=38 start=1}}
                    <option value="{{@index}}">week {{@index}}</option>
                    {{/repeat}}
                </select>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-block btn-primary save-week">Save Week</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-danger delete-week">Delete Week</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 text-right">
                <button class="btn btn-primary" id="create">Download Week</button>
                <button type="button" class="btn btn-primary" id="import-week">Import Week</button>
            </div>


        </div>
    </div>
    {{#repeat count=10 start=1}}
    <div id="fixture-{{@index}}" class="fixtures col-xs-12 col-lg-6">
        <h3>Fixture {{@index}}</h3>
        <span class="clear-fixture">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </span>
        <table>
            <tbody>
                <tr>
                    <td class="home-team">
                        <select class="teams-dropdown">
                            <option style="display:none;" value="0">Teams</option>
                            {{#each teams}}
                            <option class="team-option" data-id="{{teamID}}" value="{{teamID}}">{{teamName}}</option>
                            {{/each}}
                        </select>
                        <select class="score">
                            {{#repeat 10 start=0}}
                            <option value="{{@index}}">{{@index}}</option>
                            {{/repeat}}
                        </select>
                    </td>
                    <td>
                        <div class="versus align-center">vs</div>
                    </td>
                    <td class="away-team">
                        <select class="teams-dropdown">
                            <option style="display:none;" value="0">Teams</option>
                            {{#each teams}}
                            <option class="team-option" data-id="{{teamID}}" value="{{teamID}}">{{teamName}}</option>
                            {{/each}}
                        </select>
                        <select class="score">
                            {{#repeat 10 start=0}}
                            <option value="{{@index}}">{{@index}}</option>
                            {{/repeat}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="player-table">
                        <div class="home-team-players">
                        </div>
                    </td>
                    <td></td>
                    <td class="player-table">
                        <div class="away-team-players">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {{/repeat}}
</div>