{{#each this}}
{{#if @first}}
{{#if excludeWeek}}
<p class="alert alert-warning"><i class="fas fa-info-circle mr-2 align-right"></i>This week is currently incomplete and will not be included in the total points calculation</small>
{{/if}}
{{/if}}
{{/each}}
<table class="table table-striped mt-2">
    <tr>
        <th class="th-position sticky-header">Position</th>
        <th class="th-prevweek sticky-header">Prv Week</th>
        <th class="th-team sticky-header">Team</th>
        <th class="th-redcards sticky-header">Red Cards</th>
        <th class="th-goals sticky-header">Goals Scored</th>
        <th class="th-weekscore sticky-header">Week Points</th>
        <th class="th-total sticky-header">Total Points</th>
    </tr>
    {{#each this}}
    <tr class="team-row" data-team-id="{{teamID}}" data-team-points="{{pointsTotal}}" data-team-goals="{{goalsTotal}}"
        data-table-position="{{tablePosition}}">
        <td class="td-position {{positionChange}}">{{tablePosition}} <i class="fas {{positionChange}}"></i></td>
        <td class="td-prevweek">{{prevWeekPosition}}</td>
        <td class="td-team">{{teamName}}</td>
        <td class="td-redcards">{{redCardTotal}}</td>
        <td class="td-goals">{{goalsTotal}}</td>
        <td class="td-weekscore">{{weekPoints}}{{#if weekWinner}}<i class="fas fa-star"></i>{{/if}}</td>
        <td class="td-total">{{pointsTotal}}</td>
    </tr>
    {{/each}}
</table>