<table>
    <tr>
        <th>Pos</th>
        <th>Last Week</th>
        <th>Team</th>
        <th>Goals</th>
        <th>Week Score</th>
        <th>Total</th>
    </tr>
    {{#each this}}
    <tr class="team-row" data-team-id="{{teamID}}" data-team-points="{{pointsTotal}}" data-team-goals="{{goalsTotal}}">
        <td>{{tablePosition}}</td>
        <td>{{tablePosition}}</td>
        <td>{{teamName}}</td>
        <td>{{goalsTotal}}</td>
        <td>{{pointsTotal}}</td>
        <td>{{pointsTotal}}</td>
    </tr>
    {{/each}}
</table>