<table>
    {{#each filteredPositions}}
    <tr class="position-header {{toLower name}}-header" data-position="{{id}}">
        <th colspan="6">{{name}}
            <i class="heading-icon fas fa-chevron-down fa-xs"></i>
        </th>
    </tr>
    <tr class="table-heading">
        <th>ID</th>
        <th>Players</th>
        <th>
            <img class="goals-image disabled" src="football.png" title="Goals Scored" alt="Goals Scored">
        </th>
        <th>
            <img class="clean-sheet-image" src="clean_sheet.png" title="Clean Sheet" alt="Clean Sheet">
        </th>
                <th>
            <img class="clean-sheet-image" src="clean_sheet.png" title="Assist" alt="Assist">
        </th>
        <th>
            <img class="red-card-image" src="red_card.png" title="Red Card" alt="Red Card">
        </th>
    </tr>
    {{#each players}}

    <tr class="player-data {{#if unavailableForSeason}}unavailable{{/if}}" data-position="{{playerType}}" data-id="{{id}}">
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td class="goals-scored">
        <input class="score-select" type="number" value="0" min="0">
        </td>
        <td class="clean-sheet">
            <input type="checkbox" class="clean-sheet-checkbox">
        </td>
        <td class="assist">
            <input type="checkbox" class="assist-checkbox">
        </td>
        <td class="red-card">
            <input type="checkbox" class="red-card-checkbox">
        </td>
    </tr>
    {{/each}} {{/each}}
</table>