<table>
    {{#each filteredPositions}}
    <tr class="position-header {{toLower name}}-header" data-position="{{id}}">
        <th colspan="5">{{name}}
            <i class="heading-icon fas fa-chevron-down fa-xs"></i>
        </th>
    </tr>
    <tr class="table-heading">
        <th>ID</th>
        <th>Players</th>
        <th>
            <img class="goals-image disabled" src="football.png" title="Goals Scored" alt="Goals Scored">
        </th>
        <th>
            <img class="clean-sheet-image" src="clean_sheet.png" title="Clean Sheet" alt="Clean Sheet">
        </th>
        <th>
            <img class="red-card-image" src="red_card.png" title="Red Card" alt="Red Card">
        </th>
    </tr>
    {{#each players}}
    <tr class="player-data" data-position="{{playerType}}" data-id="{{id}}">
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td class="goals-scored">
            <select class="score-select" name="score">
                {{#repeat count=10 start=0}}
                <option value="{{@index}}">{{@index}}</option>
                {{/repeat}}
            </select>
        </td>
        <td class="clean-sheet">
            <input type="checkbox" class="clean-sheet-checkbox">
        </td>
        <td class="red-card">
            <input type="checkbox" class="red-card-checkbox">
        </td>
    </tr>
    {{/each}} {{/each}}
</table>